<table class="add-on-table generic-text">
    <tr>
        <td class="checkboxCol">
            <%= form.check_box :ladder, id: :reservation_ladder%>
        </td>
        <td class="priceCol">
            +$10
        </td>
        <td class="descriptionCol">
            Ladder <a data-toggle="modal" data-target="#ladderModal"><span class="glyphicon glyphicon-question-sign"></span></a>
        </td>
    </tr>
    <tr>
        <td class="checkboxCol">
            <%= form.check_box :light, id: :reservation_light%>
        </td>
        <td class="priceCol">
            +$10
        </td>
        <td class="descriptionCol">
            Light <a data-toggle="modal" data-target="#lightModal"><span class="glyphicon glyphicon-question-sign"></span></a>
        </td>
    </tr>
    <tr>
        <td class="checkboxCol">
            <input id="delivery" type="checkbox" onChange ="toggleDelivery(this.checked)">
        </td>
        <td class="priceCol">
            +$8
        </td>
        <td class="descriptionCol">
            Delivery <a data-toggle="modal" data-target="#deliveryModal"><span class="glyphicon glyphicon-question-sign"></span></a>
        </td>
    </tr>
</table>
