<div class="whiteCover">
</div>
<div class="container">
    <div class="quote">
        “Incredibly convenient, and had everything I would have wanted!”<br>
        -Person A
    </div>

    <div class="infoBox generic-text">
        <div class="topText">
            Our pop-up shop is located inside the 
            Last Minute Gear store
        </div>
        <div class="bottomText top-spacer">
            3156 24th Street<br>
            San Francisco, CA 94110<br>
            <%= mail_to "info@drillmenow.com" %><br>
        </div>
    </div>
</div>