<% if reservation.errors.any?%>
    <div id="error_explanation" class="bottom-spacer">
    <span class="text-header">Sorry! There were a few error(s): </span>
    <ul>
        <% reservation.errors.messages.each do |message| %>
            <li><%= message[1][0] %></li>
        <% end %>
    </div>
<% end %>