<div class="container howItWorks">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h2 class="sectionTitle bottom-spacer"> How it works </h2>
        </div>
    </div>
    <div class="row row-eq-height">
        <div class="col-sm-3 col-sm-offset-2 col-xs-12 text-center">
            <a data-toggle="modal" data-target="#toolsModal">
                <img class="toolsCircle" src="assets/toolsCircle.jpg"> 
            </a>
        </div>
        <div class="col-sm-5 col-xs-12">
            <div class="explanationWrapper">
                <div class="explanation">
                    <div class="text-header">Home improvement for $20 </div>
                    <p class="generic-text">
                        Your toolbox rental includes everything you need, such as electric drill, 
                        stud finder, level, screwdriver set, hammer, pliers, wrenches, <a data-toggle="modal" data-target="#toolsModal">and more!</a>
                    </p>
                </div>
            </div>
        </div>      
    </div>
    <table class="calenderDiagram">
        <tr class="pictures">
            <td>
                <img src="assets/calender1.png">
            </td>
            <td>
                <i class="fa fa-long-arrow-right fa-3x"></i>
            </td>
            <td class="middleTD">
                <img src="assets/calender2.png">
                <i class="fa fa-plus fa-3x"></i>
                <img src="assets/calender3.png">
            </td>
            <td>
                <i class="fa fa-long-arrow-right fa-3x"></i>
            </td>
            <td>
                <img src="assets/calender4.png">
            </td>
        </tr>
        <tr class="textRow">
            <td>
                <span class="text-header">Get It</span><br>
                9am-9pm
            </td>
            <td>
            </td>
            <td>
                <span class="text-header">Use It</span><br>
                2 full days
            </td>
            <td>
            </td>
            <td>
                <span class="text-header">Return It</span><br>
                9am-9pm
            </td>


    </table>
</div>