<div class="modal fade" tabindex="-1" role="dialog" id="toolsModal">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-body">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <h2>Your toolkit includes</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <ul>
                <li>Crescent wrench</li>
                <li>Boxcutter</li>
                <li>Pliers (arc-joint, slip-joint, needle-nose)</li>
                <li>Triangle</li>
                <li>Safety glasses</li>
                <li>Cordless drill</li>
                <li>Cordless impact driver</li>
                <li>Drill & screwdriver bits</li>
              </ul>
            </div>
            <div class="col-xs-12 col-md-6">
              <ul>
                <li>Level & laser</li>
                <li>Rubber mallet</li>
                <li>Universal screwdriver</li>
                <li>Stud finder </li>
                <li>Measuring tape</li>
                <li>Hammer</li>
                <li>Allen wrenches</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="image-row">
        <div class="col-xs-12">
          <%= image_tag("names.png", alt: "tools") %>
        </div>
      </div>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="ladderModal">
  <div class="modal-dialog">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2> Optional Ladder (+$10) </h2>
        <%= image_tag("ladder.jpg", alt: "ladder") %>
        <div class="modal-description generic-text">
            Ladders are great if you're short. Watch out for black cats.
        </div>
    </div>
  </div>
</div>

<div class="modal fade" id="lightModal">
  <div class="modal-dialog">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2> Optional Work Light (+$10) </h2>        
        <%= image_tag("light.jpg", alt: "light") %>
        <div class="modal-description generic-text">
          If its dark use a light, it won't be dark anymore. This light is bright. 
        </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deliveryModal">
  <div class="modal-dialog">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2> Optional Delivery (+$8) </h2>                
        <%= image_tag("deliveryMap.jpg", alt: "map") %>
        <div class="modalInfo">
            We'll delivery your tools anytime between 9am and 9pm to anywhere within the approved delivery range.
        </div>
    </div>
  </div>
</div>

