<div class="modal fade" id="toolsModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h2>Your toolkit rental includes</h2>
      <div class="row tool-list">
      <ul>      
          <div class="col-md-3 col-md-offset-2 col-sm-6">
              <li>Crescent wrench</li>
              <li>Boxcutter</li>
              <li>Pliers (3x)</li>
              <li>Triangle</li>
              <li>Safety glasses</li>
              <li>Cordless drill</li>
              <li>Cordless impact driver</li>
          </div>
          <div class="col-md-3 col-md-offset-2 col-sm-6">
              <li>Drill & screwdriver bits</li>
              <li>Level & laser</li>
              <li>Rubber mallet</li>
              <li>Universal screwdriver</li>
              <li>Stud finder </li>
              <li>Measuring tape</li>
              <li>Hammer</li>
              <li>Allex wrenches (2x)</li>
          </div>
          </ul>
          
      </div>
        <%= image_tag("names.png", alt: "tools") %>
    </div>
  </div>
</div>

<div class="modal fade" id="ladderModal">
  <div class="modal-dialog">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2> Optional Ladder (+$10) </h2>
        <%= image_tag("ladder.jpg", alt: "ladder") %>
        <div class="modal-description generic-text">
            Ladders are great if you're short. Watch out for black cats.
        </div>
    </div>
  </div>
</div>

<div class="modal fade" id="lightModal">
  <div class="modal-dialog">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2> Optional Work Light (+$10) </h2>        
        <%= image_tag("light.jpg", alt: "light") %>
        <div class="modal-description generic-text">
          If its dark use a light, it won't be dark anymore. This light is bright. 
        </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deliveryModal">
  <div class="modal-dialog">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2> Optional Delivery (+$8) </h2>                
        <%= image_tag("deliveryMap.jpg", alt: "map") %>
        <div class="modalInfo">
            We'll delivery your tools anytime between 9am and 9pm to anywhere within the approved delivery range.
        </div>
    </div>
  </div>
</div>

