<div class="modal fade" id="toolsModal">
  <div class="modal-dialog">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <%= image_tag("names.png", alt: "tools") %>
    </div>
  </div>
</div>

<div class="modal fade" id="ladderModal">
  <div class="modal-dialog">
    <div class="modal-content">
        <button type="button" class="close black" data-dismiss="modal">&times;</button>
        <%= image_tag("ladderIcon.jpg", alt: "tools") %>
        <div class="modalInfo">
            Add a 6' ladder for an extra $10.
        </div>
    </div>
  </div>
</div>

<div class="modal fade" id="lightModal">
  <div class="modal-dialog">
    <div class="modal-content">
        <button type="button" class="close black" data-dismiss="modal">&times;</button>
        <%= image_tag("lightIcon.jpg", alt: "tools") %>
        <div class="modalInfo">
            Add a work lamp for an extra $10.
        </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deliveryModal">
  <div class="modal-dialog">
    <div class="modal-content">
        <button type="button" class="close black" data-dismiss="modal">&times;</button>
        <%= image_tag("deliveryMap.jpg", alt: "tools") %>
        <div class="modalInfo">
            We'll delivery your tools anytime between 9am and 9pm to anywhere within the approved delivery range.
        </div>
    </div>
  </div>
</div>
