<div class='top-image'>
    <%= image_tag 'tools.jpg', alt: "tools" %>
</div>
<div class="top-text">
    <span class="text-header">
        Your toolbox rental includes:
    </span>
    <span class="generic-text">
        Electric drill, stud finder, level, screwdriver set, hammer, pliers, wrenches, <a href="#">and more!</a>
    </span>
</div>

<div class ="form-section-header">
    <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-inverse fa-stack-1x">1</i>
    </span>
    <span class="text-header"> Check Availability </span>
</div>

<div class="reserveDate inputField">
    <%= form.label :start_date, "Get it: ", class: "generic-text" %>
    <%= form.text_field :start_date, {:id => "start_date", :readonly  => "true", :onChange => "updateDueDate(this.value)"} %>
</div>

<span class="dueDate">
    <%="#{(Time.now + 3.days).strftime("%m/%d/%Y")}" %>
</span>
