<div class="text-header">
    Thanks, you're all set
</div>
<div class="text-generic">
    Email confirmation on its way.
</div>
<hr>
<div class="text-header">
    Refer a friend, get $10 back!
</div>
<div class="text-generic">
    For each friend you refer who uses our service, you’ll get a $10 refund! 
</div>
<button class="btn btn-primary">James Mystery content</button>
<div class="caveat-text">
    <a href="#">Full details</a>
</div>
