<div class="order_summary">
    <div class="text-header">
        Your order order summary
    </div>        

    <% options = {"Toolbox": "$20", "Ladder": "+$10", "Work Light": "+$10", "Delivery": "+$8", "Total": "$20"} %>
    <table id="summary_table">
        <% options.keys.each do |option| %>
            <tr class = "<%= option %>_Row hidden">
                <td class="priceCol">
                    <%=options[option] %>
                </td>
                <td class="descriptionCol">
                    <%= option %>
                </td>
            </tr>
        <% end %>
    </table>
</div>