<div class="unavailableWrapper">
    <div class="unavailableCover">
    </div>
    <h2> Currently no toolboxes available </h2>
    <h3> You can still reserve one for later </h3>
    <%= link_to 'Reserve a Toolbox', showResDate_path, remote: true, class: "btn btn-primary"%>
</div>