<div class="unavailableCover">
</div>
<div class="unavailableWrapper">
    <h2> Currently no toolboxes available </h2>
    <h3> You can still reserve one for later </h3>
    <button class="btn btn-primary" data-toggle ="modal" data-target="#reserveLaterModal">
    Reserve a Toolbox
    </button>
</div>