<h1>Editing Reservation</h1>

<%= render 'form', reservation: @reservation, reserveLater: true, availableToday: true %>

<%= link_to 'Show', @reservation %> |
<%= link_to 'Back', reservations_path %>
