<script>
    var reserved_dates = <%= @reservedDates.to_json.to_s.html_safe %>;
</script>
<%= render 'modals' %>
<div class="container">
    <div class= "row"
        <div class="col-10 col-offset-1">
            <div class="row">
                <div class ="col-10 col-offset-1 appTitle">
                    <h1> Drill Me Now </h1>
                    <h2>Rent a toolbox for everything from Ikea furniture to custom builds</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-xs-12 mainContent pull-right">
                    <%= form_with(model: @reservation, remote: true, html: {autocomplete: "off", id: "reservation_form"}) do |form| %>
                        <div class="page1">
                            <%= render partial: "page1", :locals => {form: form} %>
                        </div>    
                    <% end %>
                </div>
                <div class="col-sm-6 sideBar pull-left text-header">
                    <div class="quote">
                        <span class="quoteBody">
                            "I rented a toolbox from <i>Drill Me Now</i> and I 
                            built a new dog house for FiFi"
                        </span><br>
                        <div class="quoteByLine">-Jon McFixit</div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>
                
