<%= render "modals" %>
<div class="main section">
    <div class="blackCover">
    </div>
    <div class="container">
        <div class= "row">
            <div class="col-xs-10 col-xs-offset-1 appTitle bottom-spacer">
                <h1>Drill Me Now</h1>
                <h2>Rent a toolbox for everything from Ikea furniture to custom builds</h2>
            </div>
        </div>    
        <div class="row mainContentRow">
            <div class="col-sm-6 col-xs-12 pull-right mainContent">
                <%= render "form" %>
            </div>
        </div>
    </div>
</div>
<div class ="howItWorks section">
    <div class="container howItWorks">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2 class="sectionTitle bottom-spacer"> How it works </h2>
            </div>
        </div>
        <div class="row row-eq-height">
            <div class="col-sm-3 col-sm-offset-2 col-xs-12 text-center">
                <a data-toggle="modal" data-target="#toolsModal">
                    <img class="toolsCircle" src="assets/toolsCircle.jpg"> 
                </a>
            </div>
            <div class="col-sm-5 col-xs-12 flex">
                <div class="explanationWrapper flex">
                    <div class="explanation">
                        <div class="text-header">Home improvement for $20 </div>
                        <p class="generic-text">
                            Your toolbox rental includes everything you need, such as electric drill, 
                            stud finder, level, screwdriver set, hammer, pliers, wrenches, <a data-toggle="modal" data-target="#toolsModal">and more!</a>
                        </p>
                    </div>
                </div>
            </div>      
        </div>
        <div class="row" style="margin-top:40px">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">
                <table class="calenderDiagram">
                    <tr class="pictures">
                        <td width="16%">
                            <img src="assets/calender1.png" style="width:100%">
                        </td>
                        <td width="12%">
                            <i class="fa fa-long-arrow-right fa-3x" style="width:100%"></i>
                        </td>
                        <td width="16%">
                            <img src="assets/calender2.png" style="width:100%">
                        </td>
                        <td width="12%">
                            <i class="fa fa-plus fa-3x" style="width:100%"></i>
                        </td>
                        <td width="16%">
                            <img src="assets/calender3.png" style="width:100%">
                        </td>
                        <td width="12%">
                            <i class="fa fa-long-arrow-right fa-3x" style="width:100%"></i>
                        </td>
                        <td width="16%">
                            <img src="assets/calender4.png" style="width:100%">
                        </td>
                    </tr>
                    <tr class="textRow">
                        <td colspan="2">
                            <span class="text-header">Get It</span><br>
                            9am-9pm
                        </td>
                        <td colspan="3">
                            <span class="text-header">Use It</span><br>
                            2 full days
                        </td>
                        <td colspan="2">
                            <span class="text-header">Return It</span><br>
                            9am-9pm
                        </td>


                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="bottom section">
    <div class="whiteCover">
    </div>
    <div class="container">
        <div class="quote">
            “Incredibly convenient, and had everything I would have wanted!”<br>
            -Person A
        </div>

        <div class="infoBox generic-text">
            <div class="topText">
                Our pop-up shop is located inside the 
                Last Minute Gear store
            </div>
            <div class="bottomText top-spacer">
                3156 24th Street<br>
                San Francisco, CA 94110<br>
                <%= mail_to "hiya@drillmenow.com" %><br>
            </div>
        </div>
    </div>
</div>

                
