@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Acme|Luckiest+Guy|Racing+Sans+One|Signika');


$dark-blue: #033E5B;
$light-blue: #55A2B3;
$orange: #ffd400;

a:hover{
    background-color: unset;
}

body{
    margin: 0;
    padding: 0;
    background-image: url('/assets/toolsBG.png');
    background-size: cover;
}

.container{
    padding: 40px 30px;
}

#notice{
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    background-color: rgba(0, 200, 0, 0.6);
    border: 1px solid #00c800;
    padding: 15px;
    margin: 60px 0px;
}


.appTitle{
    text-align: center;
    position: relative;
    font-family: 'Racing Sans One', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: $dark-blue;
    margin-bottom: 25px;


    h1{
        text-transform: uppercase;
        letter-spacing: -2px;
        font-size: 50px
    }

    h4{
    font-size: 17px;
    font-weight: bold;
    color: $dark-blue;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -1px;
    }

}

.mainContent{
   background-color:rgba(255,212,0,.8);
   padding: 20px;
   box-shadow: 3px 2px 7px -2px #000;
}
.topText{
    color: $dark-blue;
    text-align: center;
    font-family: 'Racing Sans One', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px 0px 30px;
    font-size: 40px;
    line-height: .7em;
}
.reserveLink{
    font-size: .5em;
    white-space: nowrap 
}
.row-eq-height{
    @media screen and (min-width: 750px){ 
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

.field_with_errors{
    padding: 0px;
    background-color: unset;
    display: block;

    input{
        box-shadow: 0 0 2px 1px #f00;
    }

}



#error_explanation {
    border: 1px solid red;
    margin: 20px auto;
}

.optionRow{
margin-bottom: 15px;
}

.optionBox{
    overflow: hidden;
    position: relative;
    background:#fff;
    border: 4px solid $light-blue;
    border-radius: 12px;
    box-shadow: 2px 2px 7px 1px rgba(0,0,0,.5);
    height: 100%;
    margin-bottom: 15px;

    img{
        object-fit: contain;
        width: 100%;
        height: 100px;
    }

    .optionTitle{
        width: 100%;
        position: relative;
        top: -4px;
        text-align: center;
        color: $dark-blue;
        font-size: 1em;
        text-shadow: 1px 1px 1px 1px #000;
        line-height: 1em;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    input{
        position: absolute;
        top: 5px;
        right: 5px
    }

}

.initHidden{
    display: none
}

.inputField{
    margin-top:15px;
    width: 100%;

    input{
        width: 100%;
    }
}
.termsOfService{
    width: 100%;
    margin: 10px 0px;
    font-size: .9em;
}
.submitWrapper{
    width: 100%;
    text-align: center;
}

.submitWrapper .btn-primary{
    width: 100%
}

.bottomText{
text-align:center;

    .dueDate{
        font-weight:bold;
    }
}

.quote{
    font-size: 1.9em;
    line-height: 1.2em;
    font-weight: bold;
    margin-top: 50px;
    font-family: 'Signika', sans-serif;
}
.quoteByLine{
    font-weight: normal;
    font-size: 1em;
    float: right;
    margin-right: 25px;
}



//Unavailable screen

.unavailableCover{
position: absolute;
height: 100%;
width: 100%;
z-index: -1;
top: 0px;
left: 0;
opacity: .9;
background-image: url("/assets/bars.jpeg")
}

.unavailableWrapper{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 100;
    top: 0px;
    left: 0;  
    text-align: center;
    padding-top: 150px;
    color: white;

    .btn-primary{
        margin-top: 50px;
        width: 50%;
        padding: 10px;
        font-size: 19px;
        border-radius: 11px;

    }
}

//stripe 

.StripeElement {
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

#card-errors{
    margin: 4px;
    background-color: rgba(230,0,0, .6);
    color: #fff;
    padding:10px;
    border-radius: 5px;
}

#card-errors:empty{
    padding: 0px
}

//Modal
.modal .close{
    position: absolute;
    right: 5px;
    color: #fff;
    opacity: .6;
    font-size: 1.5em;
}

.close.black{
    color: #444;
}

.modal img{
    max-height: 300px;
    object-fit: contain;
    width: 100%;
}

.modal-content{
    text-align: center;
}

.modal-dialog{
    width: 300px;
}

#toolsModal .modal-dialog{
    width: 450px;

    img{
        max-height: 400px;
    }
}

.modalInfo{
    font-size: 1.4em;
    width: 90%;
    margin: 0 auto 5px auto;
}

#tos {
    .modal-header{
        padding: 0px;
    }
    .modal-body{
        height: 400px;
        overflow: scroll;
        text-align: left;
    }
    .btn{
        width: 100%;
        margin: 10px 0px
    }
}