@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Acme|Luckiest+Guy|Racing+Sans+One|Signika');


body{
    margin: 0;
    padding: 0;
    background-image: url('/assets/background.jpg');
    background-size: cover;
    font-family: 'Helvetica Neue Light', Helvetica, sans-serif;
    color: #000;
}


//base styles
a:hover{
    background-color: unset;
}

a{
    color: #fff !important;
    text-decoration: underline;
}

a:hover, a:active{
    color: #fff;
}

h2{
    font-size: 20px;
}

.text-header{
    font-size: 18px;
    font-weight: bold;    
}

.generic-text{
    font-size: 14px;
}

.caveat-text{
    font-size: 12px;
    font-style: italic; 
}


//Top Title
.appTitle{
    text-align: center;
    margin-bottom: 25px;

    h1{
        font-size: 50px;
        font-weight: bold
    }

}

//Quote

.quote{
    width: 75%;
    max-width: 600px;
}

.quoteByLine{
width: 100%;
text-align: center;
}

// Main Content
.mainContent{
    background-image: url('/assets/wood.jpg');
    border: 2px solid #fff;
    padding: 20px;
}

//Form elements
#reservation_form{
    padding: 0px 50px;
}

.form-section-header{
    margin-left: -40px;
}

.fa-circle{
    color: yellow;
}

.fa-inverse{
    color:#000;
}

//Page 1
.top-image{
    margin-bottom: 15px;
    img{
        width: 100%;
        border: 2px solid #fff;
    }
}

.top-text{
    margin: 0 auto;
    width: 85%;
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 3px solid #000;
}

.field_with_errors{
    padding: 0px;
    background-color: unset;
    display: block;

    input{
        box-shadow: 0 0 2px 1px #f00;
    }

}



#error_explanation {
    border: 1px solid red;
    margin: 20px auto;
    width: 100%;
}

.optionRow{
margin-bottom: 15px;
}

.optionBox{
    overflow: hidden;
    position: relative;
    background:#fff;
    border-radius: 12px;
    box-shadow: 2px 2px 7px 1px rgba(0,0,0,.5);
    height: 100%;
    margin-bottom: 15px;

    img{
        object-fit: contain;
        width: 100%;
        height: 100px;
    }

    .optionTitle{
        width: 100%;
        position: relative;
        top: -4px;
        text-align: center;
        font-size: 1em;
        text-shadow: 1px 1px 1px 1px #000;
        line-height: 1em;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    input{
        position: absolute;
        top: 5px;
        right: 5px
    }

}

.initHidden{
    display: none
}

.inputField{
    margin-top:15px;
    width: 100%;

    input{
        width: 100%;
    }
}
.termsOfService{
    width: 100%;
    margin: 10px 0px;
    font-size: .9em;
}
.submitWrapper{
    width: 100%;
    text-align: center;
}

.submitWrapper .btn-primary{
    width: 100%
}

.bottomText{
text-align:center;

    .dueDate{
        font-weight:bold;
    }
}




//Unavailable screen

.unavailableCover{
position: absolute;
height: 100%;
width: 100%;
z-index: -1;
top: 0px;
left: 0;
opacity: .9;
background-image: url("/assets/bars.jpeg")
}

.unavailableWrapper{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 100;
    top: 0px;
    left: 0;  
    text-align: center;
    padding-top: 150px;
    color: white;

    .btn-primary{
        margin-top: 50px;
        padding: 10px;
        font-size: 19px;
        border-radius: 11px;

    }
}

//stripe 

.StripeElement {
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

#card-errors{
    margin: 4px;
    background-color: rgba(230,0,0, .6);
    color: #fff;
    padding:10px;
    border-radius: 5px;
}

#card-errors:empty{
    padding: 0px
}

//Modal
.modal .close{
    position: absolute;
    right: 5px;
    color: #fff;
    opacity: .6;
    font-size: 1.5em;
}

.close.black{
    color: #444;
}

.modal img{
    max-height: 300px;
    object-fit: contain;
    width: 100%;
}

.modal-content{
    text-align: center;
}

.modal-dialog{
    width: 300px;
    margin: 25px auto;
}

#toolsModal .modal-dialog{
    width: 450px;

    img{
        max-height: 400px;
    }
}

.modalInfo{
    font-size: 1.4em;
    width: 90%;
    margin: 0 auto 5px auto;
}

#tos {
    .modal-header{
        padding: 0px;
    }
    .modal-body{
        height: 400px;
        overflow: scroll;
        text-align: left;
    }
    .btn{
        width: 100%;
        margin: 10px 0px
    }
}