@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Acme|Luckiest+Guy|Racing+Sans+One|Signika');

//Colors
$yellow: #ffd520;
$white: #fff;
$blue: #0d9fa9;

//Base Elements

body{
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue Light', Helvetica, sans-serif;
    color: #000;    
}

.container{
    position:relative;
}

.section{
    padding: 40px 0px;
    position: relative;
}




//base styles
a:hover{
    background-color: unset;
}

a, a:active, a:focus, a:visited{
    color:  #1dafc9;
    text-decoration: underline;
    cursor: pointer;
}

a:hover, a:active{
    color:  #1dafc9;
}

h2{
    font-size: 20px;
}

.text-header{
    font-size: 18px;
    font-weight: bold;    
}

.generic-text{
    font-weight: normal;
    font-size: 14px;
}

.caveat-text{
    font-size: 12px;
    font-style: italic; 
}

.hide{
    display: hidden;
    position: absolute;
}

//Top Title
.appTitle{
    text-align: center;
    margin-bottom: 25px;
    color: #fff;

    h1{
        margin-top: 0px;
        font-size: 50px;
        font-weight: bold
    }

}


// Main Content

.main.section{
    background-image: url('/assets/toolsBG.jpg');   
    background-repeat: no-repeat;
    background-size: cover; 
}

.blackCover{
    background-color:rgba(0,0,0,.5);
    position: absolute;
    height: 100%;
    width: 100%;
    margin-top:-40px;

}

.mainContent{
    background-image: url('/assets/wood.jpg');
    border: 2px solid #fff;
    padding: 20px 20px 0px;
    overflow-x: scroll;
    max-height: 440px;
}

//fix for firefox loses bottom-padding on overflow
.mainContent:after{
    content: "";
    height: 20px;
    display: block;
}

.mainContentRow{
    @media screen and (max-width: 768px) {
        margin-left: 5px;
        margin-right: 5px;
    }
}

//Form elements
#reservation_form{
    padding: 0px 35px;
    @media screen and (max-width: 500px) {
        padding: 0 25px;
    }
    .error{
        color: red;
        margin-top: 5px;
    }

    #start_dateError{
        margin-top: -8px;
        margin-left: 47px;
    }


    #errorsWrapper{
        margin: 0px -30px;
    }

    #error_explanation{
        width: 100%;
        border: 2px solid #fff;
        padding: 7px 7px 0;
        margin-bottom: 20px;
        background-color: rgba(255,145,145,1);
    }

    .form-section-header{
        margin-left: -40px;
        margin-top: 15px;
        font-size: 15px;
        font-weight: bold;    
        white-space: nowrap;
    }

    .fa-circle{
        color: yellow;
    }

    .fa-inverse{
        color:#000;
        font-weight: bold;
    }

    .inputField{
        margin-bottom: 7px;
    }
    
    label{
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }

    input.full-width{
        width: 100%;
    }


    .field_with_errors{
        padding: 0px;
        background-color: unset;
        display: unset;

        input{
            box-shadow: 0 0 2px 1px #f00;
        }
    }

    .btn-primary{
        background-color: #1dafc9;
        width: 75%;
        margin: 20px auto 0;
        border: 2px solid #fff;
        color: #fff;
    }

    #submitButton:disabled{
        font-size: 0px;
    }

    #submitButton:disabled:after{
        font-size:18px;
        content:"Working..."
    }
    
    .btn-primary:hover, .btn-primary:active{
        background-color: $blue;
        border: 2px solid #ccc    
    }

}

//Page 1
.top-section{
    margin: 0px -30px 20px;
    border-bottom: 2px solid #000;
        
    img{
        width: 100%;
        border: 2px solid #fff;
        margin-bottom: 15px;
    }

.top-text{
    margin: 0 auto;
    width: 85%;
    text-align: center;
    padding-bottom: 20px;
}

}

.add-on-table{
    margin-bottom: 20px;

    td{
        padding:5px;
        font-family: 'Helvetica Neue Light', Helvetica, sans-serif;        
    }

    input[type="checkbox"]{
        position: relative;
        margin: 0;
    }

    .descriptionCol{
        padding-left: 5px;
    }

    a{
        color: #000;
    }

}

.reserveDate{
    display: table;
    width: 100%;
     label{
        white-space: nowrap;
        display: table-cell;
        width: 1px;
        vertical-align: middle;
        
    }

    .field_with_errors:first-of-type{
    display: table-cell !important;
    width: 1px;
    vertical-align: middle;
    }

    .field_with_errors:nth-of-type(2){
        display: table-cell !important;
    }

    input{
        display: table-cell;
        margin-left: 10px;
        margin-bottom: 5px;
        max-width: 360px;
    }
}

#deliveryInput{
    //hide controls in IE
    select::-ms-expand {
        display: none;
    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
        border: 1px solid #ccc;
        padding: 3px;
        border-radius: 4px;
    }
    option{
        padding: 5px;
        border: none;
    }
}

//Page 2

.back_button{
    margin-left: -40px;
    margin-bottom: 10px;
    color: #fff;
}
.termsOfService{
    width: 100%;
    margin: 10px 0px;
    font-size: .9em;
}

#summary_table{
    width: 100%;

    tr{
    width: 100%;
    display: table;
    }

    td{
        font-size: 14px;        
        padding-bottom: 6px;
        padding-left: 10px; 
        font-family: 'Helvetica Neue Light', Helvetica, sans-serif;
        
    }

    .priceCol{
        width: 1px;
    }

    .descriptionCol{
        padding-left: 15px;
    }

    tr:first-child{
        display: table !important;
        position: relative !important;
    }

    tr:last-child{
        border-top: 1px solid #000;
        padding-top: 4px;
        position:relative !important;
        display: table !important;
    }


}

//page 3

#confirmationPage{
    .text-header{
        margin:20px 0px
    }
    
    hr{
        color: #000;
        border-color: #000;
        background-color: #000;
    }

    .btn{
        width: 100%;
        margin-bottom: 20px;
        margin-top: 25px;  
    }
}

.bottomText{
text-align:center;

    .dueDate{
        font-weight:bold;
    }
}




//stripe 

.StripeElement {
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

#card-errors{
    margin: 4px;
    background-color: rgba(230,0,0, .6);
    color: #fff;
    padding:10px;
    border-radius: 5px;
}

#card-errors:empty{
    padding: 0px
}

//Modals
.modal .close{
    position: absolute;
    right: 8px;
    top: 5px;
    color: #444;
    opacity: .6;
    font-size: 1.5em;
}

.modal img{
    object-fit: contain;
    width: 100%;
}

.modal-content{
    text-align: center;
}

.modal-dialog{
    width: 300px;
    margin: 25px auto;
}
.modal-description{
    padding: 0 15px 15px;
}

#toolsModal .modal-dialog{
    width: 70%;
    max-width: 600px;
}

.tool-list{
    text-align: left;
    margin: 20px 0px;
    @media screen and (max-width: 768px) {
        text-align: center
    }
}

//How it Works

.howItWorks{
    background-color: $white;

    h2{
        margin-top:0px;
    }
}
.row-eq-height{
    @media screen and (min-width: 768px) {        
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}
.sectionTitle{
    margin-bottom: 30px;
}

.toolsCircle{
    width: 100%;
    max-width: 250px;
    height: auto;
}

.explanationWrapper{
    height: 100%;
    display: table;
}

.explanation{
    display: table-cell;
    vertical-align: middle;
    @media screen and (max-width: 767px) {
        margin-top: 15px;
        text-align: center;     
        width: 85%;
        margin: 20px auto 0 auto;
        display: block;   
    }
}

.explanation .text-header{
    margin-bottom: 10px;
}

.calenderDiagram{
    margin: 100px auto 0px;    
    @media screen and (max-width: 575px) {
        margin-top: 50px;
    }
        
    td{
        text-align: center;
        font-weight: normal;
        font-size: 14px;
    }
    
    img{
        width:100px;
        @media screen and (max-width: 575px) {
            width: 30px;
        }
    }

    .fa{
        color: $yellow;
        @media screen and (max-width: 575px) {
            font-size: 1.3em;
        }
            
    }

    .textRow td{
        padding-top:10px;
    }

    .fa-long-arrow-right{
        transform: scaleY(1.8);
    }

    .fa-plus{
        position: relative;
        top: .25em;
        margin: 0 .2em;
    }
}

//Bottom Section
.bottom.section{
    background-image: url('/assets/roomBG.jpg');   
    background-size: cover;
    background-position: -60px;
    text-align: center;
    position: relative;
}

.whiteCover{
    position: absolute;
    height: 100%;
    width: 100%;
    margin-top: -40px;
    background-color: rgba(255,255,255, .4);
}

.quote{
    width: 80%;
    max-width: 600px;
    margin: 0px auto;
    color: #000;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.infoBox{
    margin: 0 20px;
    margin-top: 100px;
    background-color: #ffd520;
    border: 2px solid #fff;
    padding: 20px;
    display: inline-block;
    max-width: 350px;

    .bottomText{
        margin-top:30px
    }
}


//TOS

.tosContainer{
    width: 85%;
    margin: 50px auto;
    background-color: white;
    padding: 15px 30px 20px;

}

